@using System.Reflection
@using Microsoft.AspNetCore.Components.Rendering
@inject IEntityMetadataService EntityMetadataService

@if (DataType == null || Entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @Grid
}

@code {
    [Parameter]
    public string? EntityName { get; set; }

    [Parameter]
    public IReadOnlyList<object>? Entities { get; set; }

    private Type? DataType
    {
        get
        {
            if (string.IsNullOrWhiteSpace(EntityName))
            {
                return null;
            }

            return EntityMetadataService.Find(EntityName)?.ClrType;
        }
    }

    private RenderFragment Grid => builder =>
    {
        if (DataType == null || Entities == null)
        {
            return;
        }

        var gridType = typeof(RadzenDataGrid<>).MakeGenericType(DataType);
        var castMethod = typeof(Enumerable)
            .GetMethod(nameof(Enumerable.Cast), BindingFlags.Public | BindingFlags.Static)?
            .MakeGenericMethod(DataType);
        var typedEntities = castMethod?.Invoke(null, new object[] { Entities });

        builder.OpenComponent(0, gridType);
        builder.AddAttribute(1, "Data", typedEntities);
        builder.AddAttribute(2, "AllowFiltering", true);
        builder.AddAttribute(3, "AllowPaging", true);
        builder.AddAttribute(4, "AllowSorting", true);
        builder.AddAttribute(5, "Columns", (RenderFragment)(builder2 =>
        {
            foreach (var property in DataType.GetProperties())
            {
                var columnType = typeof(RadzenDataGridColumn<>).MakeGenericType(DataType);
                builder2.OpenComponent(0, columnType);
                builder2.AddAttribute(1, "Property", property.Name);
                builder2.AddAttribute(2, "Title", property.Name);
                builder2.CloseComponent();
            }
        }));
        builder.CloseComponent();
    };
}
